body {
    font-family: 'Lato', serif;
}

.hide-scrollbar {
    scrollbar-width: none; /* Firefox 64 */
    -ms-overflow-style: none; /* Internet Explorer 11 */
  
}
  .hide-scrollbar::-webkit-scrollbar { /** WebKit */
    display: none;
  }